<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sesac.planet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".config.PlanetApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Planet"
        tools:targetApi="31">

        <activity
            android:name=".presentation.view.main.daily_record.PastRecordActivity"
            android:exported="false"
            android:theme="@style/Theme.TransparentSystemUi" />
        <activity
            android:name=".presentation.view.login.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.TransparentSystemUi" />
        <activity
            android:name=".presentation.view.main.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.TransparentSystemUi" />
        <activity
            android:name=".presentation.view.settings.MakePlanningActivity"
            android:exported="false"
            android:theme="@style/Theme.TransparentSystemUi" />

        <activity
            android:name=".presentation.view.splash.LoadingSplashActivity"
            android:exported="true"
            android:theme="@style/Theme.TransparentSystemUi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.view.main.planet_list.PlanetDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.TransparentSystemUi" />
        <activity
            android:name=".presentation.view.main.planet_list.PlanetDetailModifyActivity"
            android:exported="false"
            android:theme="@style/Theme.TransparentSystemUi" />
        <activity
            android:name=".presentation.view.main.my_page.ReportActivity"
            android:exported="false"
            android:theme="@style/Theme.TransparentSystemUi" />

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakao35566e7214f726dff89f6addb3b88c1e" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.view.main.daily_record.GalleryActivity"
            android:exported="false"
            android:theme="@style/Theme.TransparentSystemUi"/>

        <activity
            android:theme="@style/Theme.TransparentSystemUi"
            android:name=".presentation.view.main.planet_list.CreatePlanetActivity"
            android:exported="false" />
    </application>
</manifest>